.container {
    background-color: var(--lighter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 10px;
}

.inputContainer {
    width: 300px;
    max-width: 300px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--secondary3);
    border: 0px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    text-align: center;
}

.input:read-only {
    background-color: var(--lightest);
}

.errorMessage {
    min-width: 100%;
    color: var(--primary3);
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    text-align: center;
    margin-top: 10px;
}
