.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorGreyLighter);
}

.header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.main {
    width: 400px;
    margin: auto;
    background-color: var(--colorWhite);
    padding: 10px;
    border-radius: 4px;
}

.customInput_inputContainer {
    max-width: 100%;
}

.underMenu {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
}

.underMenu a + a {
    margin-left: 5px;
    margin-right: 5px;
}

.underMenu a,
.underMenu a:visited,
.underMenu a:active {
    color: var(--colorPrimary4);
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid var(--colorPrimary4);
}

.underMenu a:hover {
    color: var(--colorGreyLightest);
    background-color: var(--colorPrimary4);
}

.customButton_button {
    margin: 0px;
    margin-top: 6px;
    padding: 14px 50px;
    background-color: var(--colorPrimary6);
    color: var(--colorWhite);
    font-size: 20px;
    width: 100%;
}

.customButton_button:hover {
    background-color: var(--colorPrimary2);
}

.customLogo_container {
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: var(--colorPrimary6);
    color: white;
}

.loginFailed {
    width: 100%;
    color: red;
    text-align: center;
    padding: 10px;
    margin-top: 12px;
}
