.cardControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.timesheetCardContent {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.timesheetInput_container {
    padding: 0px;
    border: 1px solid var(--colorGreyLighter);
}

.timesheetGroup {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.timesheetTitle {
    padding-left: 5px;
}

.timesheetsContainer {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.cardIntro_body {
    word-break: break-word;
}
