.grid1_grid {
    /* padding: 10px; */
}

.card1_card {

}

@media only screen and (min-width: 800px) {

    .button1_button {
        color: teal;
    }

    .button1_button:hover {
        background-color: teal;
    }

    .testmenu_container {
        background-color: green;
    }

    .griditem {
        border: 1px solid rgb(199, 0, 0);
        background-color: rgba(199, 0, 0, 0.5);
        border-radius: 4px;
        padding: 10px;
    }

    .griditemOne_card {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .griditemTwo_card {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .griditemThree_card {
        grid-column: 3 / 3;
        grid-row: 1 / 3;
    }

    .griditemFour_card {
        grid-column: 1 / 2;
        grid-row: 3;
    }

    .griditemFive_card {
        grid-column: 2 / 4;
        grid-row: 3;
    }

    .griditemSix_card {
        grid-column: 1 / 4;
        grid-row: 4;
    }

}

@media only screen and (min-width: 1000px) {

    .grid1_grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .griditemOne_card {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .griditemTwo_card {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .griditemThree_card {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
    }

    .griditemFour_card {
        grid-column: 1 / 3;
        grid-row: 3;
    }

    .griditemFive_card {
        grid-column: 3 / 5;
        grid-row: 3;
    }

    .griditemSix_card {
        grid-column: 1 / 5;
        grid-row: 4;
    }

}

@media only screen and (min-width: 1200px) {

    .grid1_grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    .griditemOne_card {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .griditemTwo_card {
        grid-column: 1 / 3;
        grid-row: 2;
    }

    .griditemThree_card {
        grid-column: 3 / 5;
        grid-row: 1 / 3;
    }

    .griditemFour_card {
        grid-column: 5 / 6;
        grid-row: 1;
    }

    .griditemFive_card {
        grid-column: 5 / 6;
        grid-row: 2;
    }

    .griditemSix_card {
        grid-column: 1 / 6;
        grid-row: 3;
    }

}
