.button {
    border: var(--buttonBorder);
    border-radius: var(--buttonBorderRadius);
    padding: var(--buttonPadding);
    background-color: var(--buttonBackgroundColor);
    color: var(--buttonColor);
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.button > * + * {
    margin-left: 10px;
}

.button:hover {
    background-color: var(--buttonBackgroundColorHover);
    color: var(--buttonColorHover);
}
