.buttonsCardBody {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.controlsSaveButton {
    padding: 8px 20px;
}

.controlsCloseButton {
    background-color: var(--primary3);
    padding: 8px 20px;
}

.controlsCloseButton:hover {
    background-color: var(--primary1);
}
