.buttonsCardBody {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.controlsSaveButton {
    padding: 8px 20px;
    color: var(--colorGreyDark);
    background-color: var(--colorGreyLighter);
}

.controlsCloseButton {
    color: var(--colorGreyDark);
    background-color: var(--colorGreyLighter);
    padding: 8px 20px;
}

.controlsCloseButton:hover {
    background-color: var(--colorPrimary3);
}
