.buttonsCardBody {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
}

.controlsSaveButton {
    padding: 8px 20px;
    color: var(--dark);
    background-color: var(--lighter);
}

.controlsCloseButton {
    color: var(--dark);
    background-color: var(--lighter);
    padding: 8px 20px;
}

.controlsCloseButton:hover {
    background-color: var(--primary3);
}
