.form {
}

.formheader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logo {
    padding: 10px;
    user-select: none;
}

.title {
    padding: 10px;
    user-select: none;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.formgroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--light);
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    min-width: fit-content;
    flex-wrap: wrap;
}

.label {
    margin-right: 15px;
    white-space: nowrap;
}

.buttongroup {
    display: flex;
    justify-content: center;
}

.buttongroup > * {
    margin: 0px 5px;
}

.immutable {
    width: 200px;
    box-sizing: border-box;
    border: 0px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
}

.form > * {
    margin-bottom: 15px;
}
