.container {
    background-color: var(--componentSelectContainerBackgroundColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--componentSelectContainerBorderRadius);
    padding: var(--componentSelectContainerPadding);
}

.datalist {
    border: var(--componentSelectSelectBorder);
    border-radius: var(--componentSelectSelectBorderRadius);
    font-size: var(--componentSelectSelectFontSize);
    padding: var(--componentSelectSelectPadding);
    color: var(--componentSelectSelectColor);
    cursor: pointer;
    outline: var(--componentSelectSelectOutline);
    width: 300px;
    transition: 0.3s ease-in-out;
}

.datalist:focus-within, .datalist:hover {
    color: var(--colorWhite);
    background-color: var(--colorPrimary3);
    transition: 0.3s ease-in-out;
}

.datalist option {
    color: black;
    background-color: white;
}
