.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorGreyLighter);
}

.header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.main {
    width: 400px;
    margin: auto;
    background-color: var(--colorWhite);
    padding: 10px;
    border-radius: 4px;
}

.footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: var(-colorPrimary3);
}

.customInput_inputContainer {
    max-width: 200px;
}

.customLogo_container {
    border-radius: 4px;
    margin-bottom: 10px;
}
