.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ad0505;
    background: linear-gradient(360deg, #ad0505 50%, rgba(255,255,255,1) 50%);
}

.header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}

.main {
    width: 250px;
    margin: auto;
    background-color: var(--lighterDark);
    padding: 10px;
    border-radius: 4px;
}

.footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: white;
}
