.container {
    min-width: fit-content;
    min-height: fit-content;
    font-size: 10px;
}

.header {
    background-color: #ebebeb;
    padding: 4px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary3);
}

.content {
    padding: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: var(--secondary3);
}

.controlGroupButtonGroup {
    margin: 10px 6px 0px 6px;
    width: fit-content;
    display: flex;
}

.controlBtnButton {
    background-color: var(--secondary3);
    color: var(--dark);
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    margin: 0px;
    font-family: 'Montserrat';
}

.controlBtnButton:hover {
    color: var(--secondary3);
    background-color: var(--primary5);
}

.controlBtnActiveButton {
    background-color: var(--lighter);
    color: #1E1E1B;
    font-weight: bold;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    margin: 0px;
    font-family: 'Montserrat';
}

.controlBtnActiveButton:hover {
    color: var(--secondary3);
    background-color: var(--primary5);
}

.controlBtnButton + .controlBtnButton,
.controlBtnActiveButton + .controlBtnActiveButton,
.controlBtnButton + .controlBtnActiveButton,
.controlBtnActiveButton + .controlBtnButton {
    margin-left: 4px;
}

/* .headerButton:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.headerButton:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
} */

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar table thead tr th {
    color: #1E1E1B;
    background-color: #ebebeb;
    border: 3px solid #ebebeb;
    width: calc(100% / 7);
    user-select: none;
}

.calendar table tbody tr td {
    text-align: center;
    background-color: white;
    border: 2px solid #ebebeb;
    height: 90px;
    min-height: fit-content;
    vertical-align: top;
    padding: 5px 3px 5px 3px;
    width: calc(100% / 7);
    cursor: pointer;
    overflow: hidden;
    min-width: 90px;
}

.lowTransparency, .lowTransparency > * {
    opacity: 0.3;
    background-color: #DCDCDC !important;
    cursor: auto !important;
}

.calendar table tbody tr td .date {
    color: #1E1E1B;
    font-weight: bold;
    border-radius: 10px;
    padding: 3px 6px;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: 24px;
}

.calendar table tbody tr td .date .month {
    color: #222222;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.calendar table tbody tr td .date .dayOfMonth {
    margin-left: auto;
}

.currentDay {
    background-color: var(--primary5) !important;
}

.eventContainer {
    background-color: #1E1E1B !important;
    border-radius: 10px;
    color: white;
    font-weight: normal;
    padding: 4px;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    word-break: break-all;
    white-space: normal;
}

.eventContainer + .eventContainer {
    margin-top: 2px;
}

.invisibleCreateEventButton {
    margin: 0px 4px 0px 0px;
    display: none;
}

.calendar table tbody tr td:hover .invisibleCreateEventButton {
    display: inline-block;
    color: #333333;
}

.createEventButton {
    color: #444444 !important;
    margin: 20px;
}

.calendar table tbody tr td:hover .createEventButton {
    color: #111111 !important;
}

.invisibleEditEventButton {
    margin: 0px 4px 0px 0px;
}

.calendar table tbody tr td:not(.lowTransparency) .eventContainer:hover {
    background-color: #CCFF33 !important;
    color: #1E1E1B;
}

.calendar table tbody tr td:not(.lowTransparency):hover .month {
    display: none;
}

.listContainer {

}

.listContainer *:not(:last-child) {
    margin-bottom: 10px;
}

.listItem {
    border: 1px solid #d1d1d1;
    padding: 10px;
    border-radius: 4px;
}

.listItemTitle {
    border-bottom: 1px solid #d1d1d1;
}

.listItemContent {

}

.detailsContainer {
    word-break: break-all;
}

/* @media only screen and (min-width: 800px) {

    .calendar table tbody tr td {
        min-width: 90px;
    }

    .container {
        font-size: 12px;
    }

}

@media only screen and (min-width: 1130px) {

    .calendar table tbody tr td {
        min-width: 105px;
    }

    .container {
        font-size: 14px;
    }

} */
