.container {
    min-width: fit-content;
    min-height: fit-content;
    font-size: var(--componentCalendarFontSize);
}

.header {
    padding: var(--componentCalendarHeaderPadding);
    border-top-left-radius: var(--componentCalendarBorderRadius);
    border-top-right-radius: var(--componentCalendarBorderRadius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--componentCalendarBackgroundColor);
}

.content {
    padding: var(--componentCalendarContentPadding);
    border-bottom-left-radius: var(--componentCalendarBorderRadius);
    border-bottom-right-radius: var(--componentCalendarBorderRadius);
    background-color: var(--componentCalendarBackgroundColor);
}

.controlGroupButtonGroup {
    margin: 10px 6px 0px 6px;
    width: fit-content;
    display: flex;
}

.controlBtnButton {
    background-color: var(--componentCalendarControlBtnBackgroundColor);
    color: var(--componentCalendarControlBtnColor);
    padding: var(--componentCalendarControlBtnPadding);
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    margin: var(--componentCalendarControlBtnMargin);
    font-family: var(--componentCalendarControlBtnFont);
}

.controlBtnButton:hover {
    color: var(--componentCalendarControlBtnColorHover);
    background-color: var(--componentCalendarControlBtnBackgroundColorHover);
}

.controlBtnActiveButton {
    background-color: var(--componentCalendarControlBtnActiveBackgroundColor);
    color: var(--componentCalendarControlBtnActiveColor);
    font-weight: var(--componentCalendarControlBtnActiveFontWeight);
    padding: var(--componentCalendarControlBtnPadding);
    cursor: pointer;
    width: 100%;
    white-space: nowrap;
    margin: var(--componentCalendarControlBtnMargin);
    font-family: var(--componentCalendarControlBtnFont);
}

.controlBtnActiveButton:hover {
    color: var(--componentCalendarControlBtnColorHover);
    background-color: var(--componentCalendarControlBtnBackgroundColorHover);
}

.controlBtnButton + .controlBtnButton,
.controlBtnActiveButton + .controlBtnActiveButton,
.controlBtnButton + .controlBtnActiveButton,
.controlBtnActiveButton + .controlBtnButton {
    margin-left: var(--componentCalendarControlBtnSpacing);
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar table thead tr th {
    color: var(--componentCalendarTableHeadColor);
    background-color: var(--componentCalendarTableHeadBackgroundColor);
    border: var(--componentCalendarTableHeadBorder);
    width: var(--componentCalendarWidth);
    user-select: none;
}

.calendar table tbody tr td {
    text-align: var(--componentCalendarTableCellTextAlign);
    background-color: var(--componentCalendarTableCellBackgroundColor);
    border: var(--componentCalendarTableCellBorder);
    height: var(--componentCalendarTableCellHeight);
    min-height: var(--componentCalendarTableCellMinHeight);
    vertical-align: var(--componentCalendarTableCellVerticalAlign);
    padding: var(--componentCalendarTableCellPadding);
    width: var(--componentCalendarWidth);
    cursor: pointer;
    overflow: hidden;
    min-width: var(--componentCalendarTableCellMinWidth);
}

.lowTransparency {
    opacity: var(--componentCalendarTableCellLowTransparencyOpacity);
    background-color: var(--componentCalendarTableCellLowTransparencyBackgroundColor) !important;
    cursor: auto !important;
}

.calendar table tbody tr td .date {
    color: var(--componentCalendarTableCellDateColor);
    font-weight: var(--componentCalendarTableCellDateFontWeight);
    border-radius: var(--componentCalendarTableCellDateBorderRadius);
    padding: var(--componentCalendarTableCellDatePadding);
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    height: var(--componentCalendarTableCellDateHeight);
}

.calendar table tbody tr td .date .month {
    color: var(--componentCalendarTableCellDateMonthColor);
    font-weight: var(--componentCalendarTableCellDateMonthFontWeight);
    text-overflow: var(--componentCalendarTableCellDateMonthTextOverflow);
    white-space: nowrap;
}

.calendar table tbody tr td .date .dayOfMonth {
    margin-left: auto;
}

.currentDay {
    background-color: var(--componentCalendarTableCellCurrentDayBackgroundColor) !important;
}

.eventContainer {
    background-color: var(--componentCalendarTableCellEventContainerBackgroundColor) !important;
    border-radius: var(--componentCalendarTableCellEventContainerBorderRadius);
    color: var(--componentCalendarTableCellEventContainerColor);
    font-weight: var(--componentCalendarTableCellEventContainerFontWeight);
    padding: var(--componentCalendarTableCellEventContainerPadding);
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    word-break: break-all;
    white-space: normal;
}

.eventContainer + .eventContainer {
    margin-top: var(--componentCalendarTableCellEventContainerDistance);
}

.invisibleCreateEventButton {
    margin: 0px 4px 0px 0px;
    display: none;
}

.calendar table tbody tr td:hover .invisibleCreateEventButton {
    display: inline-block;
    color: #333333;
}

.createEventButton {
    color: var(--componentCalendarCreateEventButtonColor) !important;
    margin: 20px;
}

.calendar table tbody tr td:hover .createEventButton {
    color: var(--componentCalendarTableCellCreateEventButtonColor) !important;
}

.invisibleEditEventButton {
    margin: 0px 4px 0px 0px;
}

.calendar table tbody tr td:not(.lowTransparency) .eventContainer:hover {
    background-color: var(--componentCalendarTableCellEventContainerBackgroundColorHover) !important;
    color: var(--componentCalendarTableCellEventContainerColorHover);
}

.calendar table tbody tr td:not(.lowTransparency):hover .month {
    display: none;
}

.listContainer {

}

.listContainer *:not(:last-child) {
    margin-bottom: var(--componentCalendarListItemDistance);
}

.listItem {
    border: var(--componentCalendarListItemBorder);
    padding: var(--componentCalendarListItemPadding);
    border-radius: var(--componentCalendarListItemBorderRadius);
}

.listItemTitle {
    border-bottom: var(--componentCalendarListItemTitleBorderBottom);
}

.listItemContent {

}

.detailsContainer {
    word-break: break-all;
}

/* @media only screen and (min-width: 800px) {

    .calendar table tbody tr td {
        min-width: 90px;
    }

    .container {
        font-size: 12px;
    }

}

@media only screen and (min-width: 1130px) {

    .calendar table tbody tr td {
        min-width: 105px;
    }

    .container {
        font-size: 14px;
    }

} */
