.container {
    display: flex;
    padding: 10px 5px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cinnabar);
    color: var(--almostBlack);
    font-size: 22px;
    height: 100%;
    box-sizing: border-box;
}
