.buttonsGridGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(0px, auto);
}



.successCardTitle {
    background-color: var(--success1);
}

.successBtnButton {
    background-color: var(--success2);
    width: 100%;
}

.successBtnButton:hover {
    background-color: var(--success2);
    width: 100%;
}

.successCardClickable:hover {
    --titleBackgroundColorHover: var(--success2);
    --bodyBackgroundColorHover: var(--success2);
}



.infoCardTitle {
    background-color: var(--info1);
}

.infoBtnButton {
    background-color: var(--info1);
    width: 100%;
}

.infoBtnButton:hover {
    background-color: var(--info2);
}

.infoCardClickable:hover {
    --titleBackgroundColorHover: var(--info2);
    --bodyBackgroundColorHover: var(--info2);
}



.warningCardTitle {
    background-color: var(--warning1);
}

.warningBtnButton {
    background-color: var(--warning1);
    width: 100%;
}

.warningBtnButton:hover {
    background-color: var(--warning2);
}

.warningCardClickable:hover {
    --titleBackgroundColorHover: var(--warning2);
    --bodyBackgroundColorHover: var(--warning2);
}



.dangerCardTitle {
    background-color: var(--danger1);
}

.dangerBtnButton {
    background-color: var(--danger1);
    width: 100%;
}

.dangerBtnButton:hover {
    background-color: var(--danger2);
}

.dangerCardClickable:hover {
    --titleBackgroundColorHover: var(--danger2);
    --bodyBackgroundColorHover: var(--danger2);
}
