.buttonsGridGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(0px, auto);
}



.successCardTitle {
    background-color: var(--colorSuccessLight);
}

.successBtnButton:hover {
    background-color: var(--colorSuccessDark);
    width: 100%;
}

.successCardClickable:hover {
    --titleBackgroundColorHover: var(--colorSuccessDark);
    --bodyBackgroundColorHover: var(--colorSuccessDark);
}



.infoCardTitle {
    background-color: var(--colorInfoLight);
}

.infoBtnButton:hover {
    background-color: var(--colorInfoDark);
}

.infoCardClickable:hover {
    --titleBackgroundColorHover: var(--colorInfoDark);
    --bodyBackgroundColorHover: var(--colorInfoDark);
}



.warningCardTitle {
    background-color: var(--colorWarningLight);
}

.warningBtnButton:hover {
    background-color: var(--colorWarningDark);
}

.warningCardClickable:hover {
    --titleBackgroundColorHover: var(--colorWarningDark);
    --bodyBackgroundColorHover: var(--colorWarningDark);
}



.dangerCardTitle {
    background-color: var(--colorDangerLight);
}

.dangerBtnButton:hover {
    background-color: var(--colorDangerDark);
}

.dangerCardClickable:hover {
    --titleBackgroundColorHover: var(--colorDangerDark);
    --bodyBackgroundColorHover: var(--colorDangerDark);
}
