.container {
    width: 100%;
    height: 100%;
    background-color: var(--componentImageUploaderContainerBackgroundColor);
    border-radius: var(--componentImageUploaderContainerBorderRadius);
    display: flex;
    flex-direction: column;
    padding: var(--componentImageUploaderContainerPadding);
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container form *:not(:first-child) {
    margin-top: 20px;
}

.pictureBackground {
    cursor: pointer;
    display: block;
}

.pictureBackground svg {
    padding: var(--componentImageUploaderPictureBackgroundPadding);
    background-color: var(--componentImageUploaderPictureBackgroundBackgroundColor);
    border-radius: var(--componentImageUploaderPictureBackgroundBorderRadius);
}

.selectedPicture {
    cursor: pointer;
    object-fit: cover;
    width: 100%;
    border-radius: var(--componentImageUploaderSelectedPictureBorderRadius);
}

.selector {
    display: none;
    text-align: center;
}

.upload_button {
    padding: 20px;
    background-color: var(--colorSuccessLight);
    width: 100%;
}


.upload_button:hover {
    background-color: var(--colorSuccessDark);
}
