.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container > * {
    cursor: pointer;
    font-size: 26px;
    color: var(--colorGreyLighter);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.container > *:hover {
    color: var(--colorPrimary2);
}
