.container {
    background-color: var(--lighter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 10px;
}

.dateContainer {
    margin-left: 10px;
    flex-grow: 1;
    max-width: 300px;
    width: 300px;
}

.selectedDate {
    color: var(--dark);
    box-shadow: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    outline: none;
    text-align: center;
    width: 100%;
    border: 0px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--secondary3);
}

.datePicker {
    box-sizing: border-box;
    color: var(--dark);
    border: 0px;
    padding: 10px;
    font-size: 16px;
    outline: none;
    width: 100%;
    border-radius: 4px;
    background-color: var(--secondary3);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.daysGridGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    grid-auto-rows: 40px;
}

.monthYearTitle {
    grid-column: 3 / 7;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day {
    padding: 10px;
    border-radius: 4px;
    user-select: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day.isSelectable:hover {
    color: var(--secondary3);
    background-color: var(--primary3);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.dayOfCurMon {
    color: var(--dark);
}

.dayOfOtherMon {
    color: var(--light);
}

.daySelected {
    color: var(--secondary3) !important;
    background-color: var(--primary6);
}

.outOfBounds {
    color: var(--light);
}

.cancelBtnButton {
    color: var(--dark);
    background-color: rgba(0,0,0,0);
}

.cancelBtnButton:hover {
    color: var(--secondary3);
    background-color: var(--primary3);
}

.previousBtnButton {
    color: var(--dark);
    background-color: rgba(0,0,0,0);
}

.previousBtnButton:hover {
    color: var(--secondary3);
    background-color: var(--primary3);
}

.nextBtnButton {
    color: var(--dark);
    background-color: rgba(0,0,0,0);
}

.nextBtnButton:hover {
    color: var(--secondary3);
    background-color: var(--primary3);
}
