.container {
    background-color: var(--componentDatePickerContainerBackgroundColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--componentDatePickerContainerBorderRadius);
    padding: var(--componentDatePickerContainerPadding);
}

.dateContainer {
    margin-left: 10px;
    flex-grow: 1;
    max-width: 300px;
    width: 300px;
}

.selectedDate {
    color: var(--colorGreyDark);
    box-shadow: none;
    border-radius: var(--componentDatePickerSelectedDateBorderRadius);
    cursor: pointer;
    user-select: none;
    outline: none;
    text-align: center;
    width: 100%;
    border: var(--componentDatePickerSelectedDateBorder);
    padding: var(--componentDatePickerSelectedDatePadding);
    font-size: var(--componentDatePickerSelectedDateFontSize);
    background-color: var(--componentDatePickerSelectedDateBackgroundColor);
}

.selectedDate:hover {
    color: var(--componentDatePickerSelectedDateColorHover);
    background-color: var(--componentDatePickerSelectedDateBackgroundColorHover);
    transition: var(--componentDatePickerSelectedDateTransitionHover);
    cursor: pointer;
}

.datePicker {
    box-sizing: border-box;
    color: var(--componentDatePickerDatePickerColor);
    border: var(--componentDatePickerDatePickerBorder);
    padding: var(--componentDatePickerDatePickerPadding);
    font-size: var(--componentDatePickerDatePickerFontSize);
    outline: none;
    width: 100%;
    border-radius: var(--componentDatePickerDatePickerBorderRadius);
    background-color: var(--componentDatePickerDatePickerBackgroundColor);
    margin-top: var(--componentDatePickerDatePickerMarginTop);
    display: flex;
    justify-content: center;
}

.boundariesInfo {
    color: var(--componentDatePickerBoundariesColor);
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: var(--componentDatePickerBoundariesPaddingRight);
    margin-top: var(--componentDatePickerBoundariesMarginTop);
    font-size: var(--componentDatePickerBoundariesFontSize);
    user-select: none;
}

.daysGridGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: var(--componentDatePickerDaysGridGap);
    grid-auto-rows: var(--componentDatePickerDaysGridAutoRows);
}

.monthsGridGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--componentDatePickerMonthsGridGap);
    grid-auto-rows: var(--componentDatePickerMonthsGridAutoRows);
}

.yearsGridGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--componentDatePickerYearsGridGap);
    grid-auto-rows: var(--componentDatePickerYearsGridAutoRows);
    width: 100%;
}

.monthYearTitle {
    grid-column: 3 / 7;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.period {
    padding: var(--componentDatePickerPeriodPadding);
    border-radius: var(--componentDatePickerPeriodBorderRadius);
    user-select: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.period.isSelectable:hover {
    color: var(--componentDatePickerPeriodSelectableColor);
    background-color: var(--componentDatePickerPeriodSelectableBackgroundColor);
    transition: var(--componentDatePickerPeriodSelectableTransition);
    cursor: pointer;
}

.dayOfCurMon {
    color: var(--componentDatePickerDayOfCurMonColor);
}

.dayOfOtherMon {
    color: var(--componentDatePickerDayOfOtherMonColor);
}

.daySelected {
    color: var(--componentDatePickerDaySelectedColor) !important;
    background-color: var(--componentDatePickerDaySelectedBackgroundColor);
}

.outOfBounds {
    color: var(--componentDatePickerOutOfBoundsColor);
}

.cancelBtnButton {
    color: var(--componentDatePickerCancelBtnColor);
    background-color: var(--componentDatePickerCancelBtnBackgroundColor);
}

.cancelBtnButton:hover {
    color: var(--componentDatePickerCancelBtnColorHover);
    background-color: var(--componentDatePickerCancelBtnBackgroundColorHover);
}

.previousBtnButton {
    color: var(--componentDatePickerPreviousBtnColor);
    background-color: var(--componentDatePickerPreviousBtnBackgroundColor);
}

.previousBtnButton:hover {
    color: var(--componentDatePickerPreviousBtnColorHover);
    background-color: var(--componentDatePickerPreviousBtnBackgroundColorHover);
}

.nextBtnButton {
    color: var(--componentDatePickerNextBtnColor);
    background-color: var(--componentDatePickerNextBtnBackgroundColor);
}

.nextBtnButton:hover {
    color: var(--componentDatePickerNextBtnColorHover);
    background-color: var(--componentDatePickerNextBtnBackgroundColorHover);
}
