.container {
    background-color: var(--componentCheckboxContainerBackgroundColor);
    display: flex;
    justify-content: start;
    flex-direction: column;
    border-radius: var(--componentCheckboxContainerBorderRadius);
    padding: var(--componentCheckboxContainerPadding);
    word-wrap: break-word;
    align-items: start;
}

.label {
    margin-bottom: 6px;
    margin-left: 4px;
}

.checkboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkboxPair {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    border-radius: var(--componentCheckboxPairBorderRadius);
    padding: var(--componentCheckboxPairPadding);
}

.checkboxPairDisabled {
    user-select: none;
    display: flex;
    align-items: center;
    padding: var(--componentCheckboxPairPadding);
}

.checkboxPair:hover, .checkboxPair:focus-within {
    background-color: var(--componentCheckboxPairBackgroundColorHover);
}

/* .checkboxPair + .checkboxPair,
.checkboxPairDisabled + .checkboxPairDisabled,
.checkboxPairDisabled + .checkboxPair,
.checkboxPair + .checkboxPairDisabled {
    margin-left: 20px;
} */

.checkbox {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: var(--componentCheckboxBackgroundColor);
    /* Not removed via appearance */
    color: var(--componentCheckboxColor);
    width: var(--componentCheckboxWidth);
    height: var(--componentCheckboxHeight);
    min-width: var(--componentCheckboxWidth);
    min-height: var(--componentCheckboxHeight);
    max-width: var(--componentCheckboxWidth);
    max-height: var(--componentCheckboxHeight);
    border: var(--componentCheckboxBorder);
    border-radius: var(--componentCheckboxBorderRadius);
    cursor: pointer;
    margin-right: var(--componentCheckboxMarginRight);
    transform: translateY(-0.075em);
    transition: var(--componentCheckboxTransition);
}

.checkbox:hover {
    border: var(--componentCheckboxBorderHover);
    transition: var(--componentCheckboxTransition);
    outline: none;
}

.checkbox:focus {
    outline: none;
    border: var(--componentCheckboxBorderHover);
    transition: var(--componentCheckboxTransition);
}

.checkbox:checked {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: var(--componentCheckboxCheckedBackgroundColor);
    /* Not removed via appearance */
    color: var(--componentCheckboxCheckedColor);
    width: var(--componentCheckboxWidth);
    height: var(--componentCheckboxHeight);
    min-width: var(--componentCheckboxWidth);
    min-height: var(--componentCheckboxHeight);
    max-width: var(--componentCheckboxWidth);
    max-height: var(--componentCheckboxHeight);
    border: var(--componentCheckboxBorderHover);
    border-radius: var(--componentCheckboxBorderRadius);
    cursor: pointer;
    margin-right: var(--componentCheckboxMarginRight);
    transform: translateY(-0.075em);
    transition: var(--componentCheckboxTransition);
}

.checkbox:disabled {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: var(--componentCheckboxDisabledBackgroundColor);
    /* Not removed via appearance */
    color: var(--componentCheckboxDisabledColor);
    width: var(--componentCheckboxWidth);
    height: var(--componentCheckboxHeight);
    min-width: var(--componentCheckboxWidth);
    min-height: var(--componentCheckboxHeight);
    max-width: var(--componentCheckboxWidth);
    max-height: var(--componentCheckboxHeight);
    border: var(--componentCheckboxDisabledBorder);
    border-radius: var(--componentCheckboxBorderRadius);
    margin-right: var(--componentCheckboxMarginRight);
    transform: translateY(-0.075em);
    cursor: auto;
}
