.customButtonGroup_buttonGroup {
    justify-content: right;
    margin-top: 10px;
}

.customButton_button {
    padding: 20px;
    background-color: var(--colorPrimary6);
}

.customButton_button:hover {
    background-color: var(--colorPrimary2);
}
