.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.themesCardBody {
    justify-content: center;
    align-items: center;
}

.themeGridGrid {
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-rows: 200px;
}

.themesCardCard {
    border-radius: 1000px;
}
