.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.profilePictureContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
}

.categoryLabel {
    background-color: var(--darker);
    padding: 10px;
    width: fit-content;
    border-radius: 4px;
    margin-bottom: 5px;
    color: white;
    user-select: none;
}

.submit_button {
    border: 0px;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: var(--success2);
    color: white;
    cursor: pointer;
}

.buttonGroup_buttonGroup {
    margin-top: 20px;
}

.submit_button {
    padding: 20px;
    background-color: var(--colorSuccessLight);
}


.submit_button:hover {
    background-color: var(--colorSuccessDark);
}

.reset_button {
    padding: 20px;
    background-color: var(--colorPrimary6);
}

.reset_button:hover {
    background-color: var(--colorPrimary2);
}

.grid_grid {
    display: block;
    width: 100%;
}


@media only screen and (min-width: 1050px) {

    .grid_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
        width: 100%;
    }

    .profilePictureContainer {
        grid-column: 1 / 1;
        grid-row: 1;
        max-width: 100%;
    }

    .formContainer {
        grid-column: 2 / 2;
        grid-row: 1;
    }

}
