.tableCard_body {
    flex-direction: column;
}

.cardTitle {
    padding: 10px;
    font-weight: 900;
}

.tableCellContent_container {
    text-align: center;
    border-radius: 0px;
}

.createInvoiceBtn {
    cursor: pointer;
}
