.container {
    display: flex;
    padding: 10px 5px;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary3);
    color: var(--darkest);
    font-size: 22px;
    height: 100%;
    box-sizing: border-box;
    user-select: none;
    font-weight: 600;
}
