.container {
    background-color: var(--componentSelectContainerBackgroundColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--componentSelectContainerBorderRadius);
    padding: var(--componentSelectContainerPadding);
}

.select {
    border: var(--componentSelectSelectBorder);
    border-radius: var(--componentSelectSelectBorderRadius);
    font-size: var(--componentSelectSelectFontSize);
    padding: var(--componentSelectSelectPadding);
    color: var(--componentSelectSelectColor);
    cursor: pointer;
    outline: var(--componentSelectSelectOutline);
}
