.card {
    border: var(--componentCardBorder);
    border-radius: var(--componentCardBorderRadius);
    background-color: var(--colorWhite);
    color: var(--colorGreyDark);
    overflow: hidden;
    display:flex;
    flex-direction:column;
}

.clickable:hover {
    --titleBackgroundColorHover: var(--componentCardTitleBackgroundColorHover);
    --titleColorHover: var(--componentCardTitleColorHover);
    --bodyBackgroundColorHover: var(--componentCardBodyBackgroundColorHover);
    --bodyColorHover: var(--componentCardBodyColorHover);
}

.clickable:hover .title {
    background-color: var(--titleBackgroundColorHover);
    color: var(--titleColorHover);
    cursor: pointer;
    transition: var(--componentCardTransition);
}

.clickable:hover .body {
    background-color: var(--bodyBackgroundColorHover);
    color: var(--bodyColorHover);
    cursor: pointer;
    transition: var(--componentCardTransition);
}


.title {
    color: var(--componentCardTitleColor);
    background-color: var(--componentCardTitleBackgroundColor);
    padding: var(--componentCardTitlePadding);
    user-select: none;
    padding: var(--componentCardTitlePadding);
    transition: var(--componentCardTransition);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: fit-content;
}

.description {
    font-style: var(--componentCardDescriptionFontStyle);
    background-color: var(--componentCardDescriptionBackgroundColor);
    color: var(--componentCardDescriptionColor);
    padding: var(--componentCardDescriptionPadding);
    user-select: none;
}

.body {
    background-color: var(--componentCardBodyBackgroundColor);
    color: var(--componentCardBodyColor);
    padding: var(--componentCardBodyPadding);
    transition: var(--componentCardTransition);
    word-wrap: break-word;
    display: flex;
    align-items: center;
    flex: 1;
}
