.card {
    border: var(--cardBorder);
    border-radius: var(--cardBorderRadius);
    background-color: var(--secondary3);
    color: var(--dark);
    overflow: hidden;
}

.card.clickable:hover .title {
    background-color: var(--cardTitleBackgroundColorHover);
    color: var(--cardTitleColorHover);
    cursor: pointer;
    transition: var(--cardTransition);
}

.card.clickable:hover .body {
    background-color: var(--cardBodyBackgroundColorHover);
    color: var(--cardBodyColorHover);
    cursor: pointer;
    transition: var(--cardTransition);
}


.title {
    color: var(--cardTitleColor);
    background-color: var(--cardTitleBackgroundColor);
    padding: var(--cardTitlePadding);
    user-select: none;
    padding: var(--cardTitlePadding);
    transition: var(--cardTransition);
    word-break: break-all;
    word-wrap: break-word;
}

.body {
    background-color: var(--cardBodyBackgroundColor);
    color: var(--cardBodyColor);
    padding: var(--cardBodyPadding);
    padding: var(--cardBodyPadding);
    transition: var(--cardTransition);
    min-height: fit-content;
    word-break: break-all;
    word-wrap: break-word;
}
