.card {
    border: var(--cardBorder);
    border-radius: var(--cardBorderRadius);
    background-color: var(--secondary3);
    color: var(--dark);
    overflow: hidden;
}

.clickable:hover .title {
    background-color: var(--cardTitleBackgroundColorHover);
    color: var(--cardTitleColorHover);
    cursor: pointer;
    transition: var(--cardTransition);
}

.clickable:hover .body {
    background-color: var(--cardBodyBackgroundColorHover);
    color: var(--cardBodyColorHover);
    cursor: pointer;
    transition: var(--cardTransition);
}


.title {
    color: var(--cardTitleColor);
    background-color: var(--cardTitleBackgroundColor);
    padding: var(--cardTitlePadding);
    user-select: none;
    padding: var(--cardTitlePadding);
    transition: var(--cardTransition);
    word-wrap: break-word;
}

.description {
    font-style: var(--cardDescriptionFontStyle);
    background-color: var(--cardDescriptionBackgroundColor);
    color: var(--cardDescriptionColor);
    padding: var(--cardDescriptionPadding);
    user-select: none;
}

.body {
    background-color: var(--cardBodyBackgroundColor);
    color: var(--cardBodyColor);
    padding: var(--cardBodyPadding);
    transition: var(--cardTransition);
    word-wrap: break-word;
    display: flex;
    align-items: center;
}
